apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging

resources:
- ../../base
- namespace.yaml

patches:
- path: service-patch.yaml # <--- On applique le patch de port

images:
- name: nginx:1.23.0
  newName: nginx
  newTag: 1.24.0
