name: Security Scan

on:
  push:
    branches: [ "main" ]

jobs:
  build-analyze-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          scan-ref: '.'
          # ON PASSE EN TABLEAU POUR VOIR L'ERREUR DANS LES LOGS
          format: 'table'
          severity: 'CRITICAL,HIGH'
          exit-code: '1'
          ignore-unfixed: true
